.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sanchez', serif;
    letter-spacing: 0.09em;
}

html {
    overflow-y: scroll;
}

/* Space out content a bit */
body {
    /*https://abidanshah.com/2014/12/23/christmas-lights-in-a-minute/*/
    background-image: -webkit-linear-gradient(rgba(221, 221, 194, 0.7), rgba(221, 221, 194, 0.7)), url(/img/snowflakes-paper-background-silver.jpg);
    background-image: linear-gradient(rgba(221, 221, 194, 0.7), rgba(221, 221, 194, 0.7)), url(/img/snowflakes-paper-background-silver.jpg);

    background-size: auto;
    background-position: center;
    color: white;
    font-size: 18px;
    height: 100vh;
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.content,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    color: #777;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting content */
.content {
    margin: 40px 0;
}

.content p + h4 {
    margin-top: 28px;
}

/* Google Map! */
#map {
    height: 645px;
    width: 645px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1120px;
    }

    /* Remove the padding we set earlier */
    .header,
    .content,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.row {
    /*max-width: 960px;*/
}

.loading {
    margin: 0 auto;
    color: #93B849;
    font-size: 56px;
}

.red {
    color: #A80030;
}
.red-bg {
    background-color: #A80030;
}
.green {
    color: #93B849;
}
.beige {
    color: #DDDDC2;
}
.dull-beige {
    color: rgba(228, 241, 241, 0.55);
}
.light-blue {
    color: #63dddd;
    text-shadow: 1px 1px 5px rgba(10, 0, 241, 0.63);
}

.popover {
    background-color: rgb(74, 167, 167);
    color: #efefd4;
    max-width: 400px;
}
.popover-title {
    background-color: rgb(55, 112, 112);
}

.arrow:after {
    border-bottom-color: rgb(55, 112, 112);
}

.popover-buttons {
    display: flex;

    padding: 12px 0;
}


.blue-bg {
    background-color: rgba(10, 0, 241, 0.75);
    /*background-color: #63dddd;*/
    /*text-shadow: 1px 1px 5px rgba(10, 0, 241, 0.63);*/
}

.xbtn {
    /*background-color: #A80030;*/
    color: #DDDDC2;
    outline: none;
    border: 4px solid #DDDDC2;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 6px 0;
    padding: 6px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.xbtn:active {
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.25);
}

.box {
    background-color: #DDDDC2;
    border: 2px solid #DDDDC2;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 24px;
    /*    height: 480px;*/
    width: 75%;
}

.container {
    margin-top: 88px;
}
/**************NAV*****************/
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100px;
    z-index: 9999;
    background-color: #4AA7A7;
    background-image: -webkit-linear-gradient(rgba(74, 167, 167, 0.7), rgba(74, 167, 167, 0.7)), url(img/small_christmas_trees.png);
    background-image: linear-gradient(rgba(74, 167, 167, 0.7), rgba(74, 167, 167, 0.7)), url(img/small_christmas_trees.png);
}

.headroom {
    will-change: transform;
    transition: transform 0.3s linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 24px;
    padding-right: 24px;
}

.navbar {
    min-height: 100px;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    height: 70px;
    color: #A80030;
    flex-grow: 1;
    background: #DDDDC2;
    background-image: -webkit-linear-gradient(to right, rgba(221, 221, 194, .9), rgba(221, 221, 194, .8),rgba(221, 221, 194, .1), rgba(221, 221, 194, 0)), url(img/Christmas-Lights-black.png);
    background-image: linear-gradient(to right, rgba(221, 221, 194, .9), rgba(221, 221, 194, .8),rgba(221, 221, 194, .1), rgba(221, 221, 194, 0)), url(img/Christmas-Lights-black.png);
    padding: 10px;
    background-size: contain;
    border-radius: 6px;
    border: 3px solid;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1 ;
}

nav button {
    padding-right: 24px !important;
    padding-left: 24px !important;
}

.left-buttons {
    flex-grow: 1;
}

/*.filter-button {*/
    /*padding-right: 24px;*/
    /*padding-left: 24px;*/
    /*!*margin-right: 24px;*!*/
/*}*/

.filter {
    color: #DDDDC2;
    font-size: 16px;
    margin-top: 100px;
    padding: 12px;
}

.filter .left-form,
.filter .middle-form,
.filter .right-form {
    background-color: rgba(42, 87, 87, 0.7);
    height: 355px;
    padding: 24px;
}

.filter .left-form {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.filter .right-form {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.filter-rating {
    list-style: none;
}

.filter-label {
    font-size: 20px;
}

.rating-label {
    width: 100%;
    text-align: center;
}

.filter-rating input {
    margin: 12px 6px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}



/**************HEADER**************/
.box-header {
    align-items: center;
    border-radius: 3px;
    background-color: #A80030;
    background-image: -webkit-linear-gradient(rgba(168, 0, 48, 0.7), rgba(168, 0, 48, 0.7)), url(img/small_christmas_trees.png);
    background-image: linear-gradient(rgba(168, 0, 48, 0.7), rgba(168, 0, 48, 0.7)), url(img/small_christmas_trees.png);
    display: flex;
    justify-content: flex-end;
    margin: 6px auto;
    height: 48px;
    width: 95%;
}
.snowflake-rating {
    font-size: 32px;
    height: 36px;
    width: 36px;
    transition: all 350ms;
}
/**************BODY**************/
.box-body {
    background-color: rgba(30, 70, 70, 0.6);
    margin: 0 auto;
    text-align: center;
    height: 483px; /* set based on screen size */
    line-height: 483px; /* set based on screen size */
    width: 95%;
    overflow: hidden;
}

.box-body-new {
    background-color: rgba(30, 70, 70, 0.6);
    margin: 0 auto;
    /*height: auto; !* set based on screen size *!*/
    width: 95%;
    overflow: hidden;
    display: flex;
}

.box-body-new .new-address-form {
    padding: 24px 0;
}

.new-house-upload img{
    height: 75%;
    width: 75%;
}

.box-body img {
    overflow: hidden;
    border-radius:3px;
    width: 100%;
    height: auto;
}

.new-address-form .address-container {
    justify-content: center;
    height: 300px;
}

.new-address-form .address {
    text-align: right;
}
.change {
    margin-top: 24px;
}

.carousel-inner .item img {
    height: 483px;
    width: auto;
    overflow: hidden;
    cursor: default;
}
.carousel-indicators {
    display: none;
}



.carousel-control.right, .carousel-control.left {
    background: none;
}

.add-picture {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/**************FOOTER**************/
.box-footer {
    align-items: center;
    background-color: #93B849;
    /*background-color: rgb(106, 183, 125);*/
    /*    border: 6px solid white;*/
    border-radius: 2px;
    color: #50362A;
    flex-direction: row;
    display: flex;
    height:84px;
    justify-content: space-between;
    margin: 6px auto;
    padding: 24px;
    width: 95%;
}

.box-footer.new-house {
    padding: 12px;
    /*padding-right: 0;*/
    justify-content: flex-end;
}

.box-footer .address {
    display: flex;
    flex-direction: column;
    text-align: right;
}
button.no-btn {
    background: none;
    outline: none;
    border: none;
    font-size: 48px;
    margin: 0 18px;
}

button.no-btn:active {
    transform: translateY(2px);
}

.address-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.box-footer .address .street {
    font-size: 24px;
}
.box-footer .address .city-state-zip {
    font-size: 18px;
}

.comment-box {
    background-color: rgb(74, 167, 167);
    color: #efefd4;
    margin: 6px auto;
    padding: 6px;
    width: 95%;
}

.comments {

}

.comment {
    background-color: rgb(42, 87, 87);
    border-radius: 4px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
    color: #efefd4;
    display: flex;
    flex-direction: column;
    margin: 12px;
    padding: 12px;
}

.new-comment {
    border-radius: 2px;
    color: #50362A;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 12px 0;
}

.comment-footer {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.save-comment {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    padding-right: 6px;
}

.save-button-group {

}

.instructions {
    color: #efefd4;
    font-size: 12px;
    flex-grow: 1;
    width: 60%;
}

.comment-body {
    border-radius: 4px;
    border: none;
    padding: 12px;
    margin: 0 12px;
}

.map-popover {
    height: 400px;
    width: 95%;
    margin: 6px auto;
    padding: 6px;
}

.map {
    height: 400px;
    width: 60%;
    color: #A80030;
}

.pac-container {
    z-index: 10000 !important;
    display: block;
}

.right-panel, .right-panel-button {
    /*font-family: 'Roboto','sans-serif';*/
    line-height: 30px;
    padding-left: 10px;
}

.right-panel select, .right-panel input {
    font-size: 10px;
}

.right-panel select {
    width: 100%;
}

.right-panel i {
    font-size: 8px;
}
.right-panel {
    font-size: 12px;
    height: 400px;
    float: right;
    width: 39%;
    overflow-y: scroll;
    overflow-x: auto;
}

.right-panel-button {
    position: absolute;
    right: 5%;
    z-index: 1000;
    top: 2%;
}

.no-panel {
    display: none;
}

.map {
    margin-right: 40%;
}
.map-wide {
    width: 98%;
    margin-right: auto;
    margin-left: auto;
}