.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sanchez', serif;
}

html {
    overflow-y: scroll;
}

/* Space out content a bit */
body {
    /*https://abidanshah.com/2014/12/23/christmas-lights-in-a-minute/*/
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/img/white-snow-background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/img/white-snow-background.jpg);

    background-size: cover;
    background-position: center;
    color: white;
    font-size: 18px;
    height: 100vh;
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.content,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    color: #777;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting content */
.content {
    margin: 40px 0;
}

.content p + h4 {
    margin-top: 28px;
}

/* Google Map! */
#map {
    height: 645px;
    width: 645px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1120px;
    }

    /* Remove the padding we set earlier */
    .header,
    .content,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

}


/** {*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*box-sizing: border-box;*/
    /*font-family: 'Sanchez', serif;*/
/*}*/

/*html {*/
    /*overflow-y: scroll;*/
/*}*/

/*body {*/
    /*!*https://abidanshah.com/2014/12/23/christmas-lights-in-a-minute!*/*/
    /*background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/white-snow-background.jpg);*/
    /*background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/white-snow-background.jpg);*/

    /*background-size: cover;*/
    /*background-position: center;*/
    /*color: white;*/
    /*font-size: 18px;*/
    /*height: 100vh;*/
    /*padding-top: 50px;*/
/*}*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.row {
    /*max-width: 960px;*/
}

.red {
    color: #f22e3e;
}
.green {
    color: #1c903c;
}

.box {
    background-color: white;
    border: 6px solid white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    /*    height: 480px;*/
    width: 75%;
}

/**************HEADER**************/
.box-header {
    align-items: center;
    border-radius: 3px;
    background-color: rgb(106, 183, 125);
    display: flex;
    justify-content: flex-end;
    margin: 6px auto;
    height: 48px;
    width: 95%;
}

.rating input[type=radio] {
    /*    margin: 0;*/
}
.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 32px;
    margin-right: 24px;
    position: relative;
}
.rating-input {
    float: right;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0 0 0 -32px !important;
    opacity: 0;
}
.rating label {
    color: aliceblue;
}
.rating:hover .icon-ac_unit:hover,
.rating:hover .icon-ac_unit:hover ~ .icon-ac_unit,
.rating-input:checked ~ .icon-ac_unit {
    background-position: 0 0;
    color: #F43425
}

.icon-ac_unit,
.rating:hover .icon-ac_unit {
    position: relative;
    float: right;
    display: block;
    width: 32px;
    height: 32px;
}

/**************BODY**************/
.box-body {
    text-align: center;
}

.box-body img {
    overflow: hidden;
    border-radius:3px;
    width: 95%;
    height: auto;
}
/**************FOOTER**************/
.box-footer {
    align-items: center;
    background-color: #F43425;
    /*    border: 6px solid white;*/
    border-radius: 2px;
    color: aliceblue;
    flex-direction: row;
    display: flex;
    height:84px;
    justify-content: flex-end;
    margin: 6px auto;
    padding: 24px;
    width: 95%;
}
.box-footer .address {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.box-footer .address .street {
    font-size: 24px;
}
.box-footer .address .city-state-zip {
    font-size: 18px;
}
