<header headroom>
    <nav class="navbar navbar-fixed-top">
        <div class="logo">Christagram</div>

        <div class="nav-buttons">
            <button class="filter-button navigation" ng-click="toggleFilter()" ng-class="{selected:!filterCollapse}"><i class="fa fa-filter"></i> Filter & Sort</button>
            <button ng-show="isLoggedIn" id="newHouseBtn" class="navigation" ng-class="{selected: !newHouseCollapse}" ng-click="toggleCollapse(true)"><i class="fa fa-home"></i> New House</button>
            <!--<button class="red-bg xbtn">Set My Location</button>-->
            <button ng-show="!isLoggedIn" uib-popover-template="registrationPopover.templateUrl" popover-title="Create an Account"
                    popover-placement="bottom" popover-is-open="registerIsOpen" popover-trigger="'outsideClick'"
                    type="button" class="navigation" ng-class="{selected: registerIsOpen}"><i class="fa fa-user-plus"></i> Create Account</button>

            <script type="text/ng-template" id="registration.html">
                <div class="col-md-12 popover-background">
                    <p>Make an account to add houses and comment on your favorite houses</p>
                    <div ng-show="error.register" class="alert alert-danger">{{error.register}}</div>
                    <hr>
                    <div class="registration-form">
                        <div class="form-group">
                            <label for="register-username">Username</label>
                            <input id="register-username" ng-keypress="checkIfEnterKeyWasPressed($event)" type="text" class="form-control" name="username" ng-model="registerForm.username" required>
                        </div>
                        <div class="form-group">
                            <label for="register-password">Password</label>
                            <input id="register-password" ng-keypress="checkIfEnterKeyWasPressed($event)" type="password" class="form-control" name="password" ng-model="registerForm.password" required>
                        </div>
                        <div class="popover-buttons">
                            <button ng-click="register()" class="blue-bg xbtn">Create Account</button>
                            <button ng-click="cancelRegistration()" class="blue-bg xbtn" >Cancel</button>
                        </div>
                    </div>
                </div>
            </script>
            <button ng-show="!isLoggedIn" uib-popover-template="loginPopover.templateUrl" popover-title="Login to your account"
                    popover-placement="bottom-right" popover-is-open="loginIsOpen" popover-trigger="'outsideClick'"
                    type="button" ng-class="{selected: loginIsOpen}" class="navigation"><i class="fa fa-user"></i> Login</button>

            <script type="text/ng-template" id="login.html">
                <div class="col-md-12 popover-background">
                    <div ng-show="error.login" class="alert alert-danger">{{error.login}}</div>
                    <div class="registration-form">
                        <div class="form-group">
                            <label for="login-username">Username</label>
                            <input id="login-username" ng-keypress="checkIfEnterKeyWasPressed($event)" type="text" class="form-control" name="username" ng-model="loginForm.username" required>
                        </div>
                        <div class="form-group">
                            <label for="login-password">Password</label>
                            <input id="login-password" ng-keypress="checkIfEnterKeyWasPressed($event)" type="password" class="form-control" name="password" ng-model="loginForm.password" required>
                        </div>
                        <div class="popover-buttons">
                            <button ng-click="login()" class="blue-bg xbtn">Login</button>
                            <button ng-click="cancelLogin()" class="blue-bg xbtn" >Cancel</button>
                        </div>
                    </div>
                </div>
            </script>
            <!--<button class="xbtn red-bg" ng-click="locationPopover()" uib-popover-template="myLocationPopover.templateUrl"-->
                    <!--popover-title="Set My Location"-->
                    <!--popover-placement="bottom-right" popover-is-open="locationIsOpen"-->
                    <!--popover-trigger="'outsideClick'">Set My Location</button>-->

            <!--<div class="currentUser" ng-show="isLoggedIn && currentUser">{{currentUser}}</div>-->
            <div class="btn-group" ng-show="isLoggedIn && currentUser" uib-dropdown is-open="status.isopen" keyboard-nav="true">
                <button id="single-button" type="button" class="navigation" ng-class="{selected: status.isopen}" uib-dropdown-toggle ng-disabled="disabled">
                    <i class="fa fa-user"></i> {{currentUser}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"></li>
                    <li role="menuitem"><a href ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </div>

            <!--<script type="text/ng-template" id="location.html">-->
                <!--<div class="col-md-12 popover-background">-->
                    <!--<div ng-show="error.location" class="alert alert-danger">{{error.location}}</div>-->
                    <!--<div class="registration-form">-->
                        <!--<div class="form-group">-->
                            <!--<label for="location">Location</label>-->
                            <!--<input id="location" ng-keypress="checkIfEnterKeyWasPressed($event)" type="text" class="form-control"-->
                                   <!--name="location" placeholder="Enter an address"-->
                                   <!--vs-google-autocomplete-->

                                   <!--ng-model="locationForm.myLocation"-->
                                   <!--vs-place="locationForm.place"-->
                                   <!--vs-street-number="locationForm.streetNumber"-->
                                   <!--vs-street="locationForm.streetName"-->
                                   <!--vs-city="locationForm.city"-->
                                   <!--vs-state="locationForm.state"-->
                                   <!--vs-post-code="locationForm.zip"-->
                                   <!--vs-latitude="locationForm.latitude"-->
                                   <!--vs-longitude="locationForm.longitude"-->
                                   <!--required>-->
                        <!--</div>-->
                        <!--<div class="popover-buttons">-->
                            <!--<button ng-click="setMyLocation(true, locationForm)" class="blue-bg xbtn">Set My Location</button>-->
                            <!--<button ng-click="cancelLocation()" class="blue-bg xbtn" >Cancel</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</script>-->
            <!--<button class="red-bg xbtn"></button>-->
        </div>

    </nav>
    <div class="nav-collapse" uib-collapse="filterCollapse" id="filter">
        <form name="filterForm">
            <div class="filter col-md-12">
                <div class="col-md-offset-3 col-md-2 left-form">
                    <div class="form-group col-md-12">
                        <label class="filter-label rating-label"><i class="light-blue fa fa-snowflake-o"></i> Rating</label>
                        <ul class="filter-rating">
                            <li>
                                <label>
                                    <input ng-model="filter.snow5" ng-true-value="5" ng-false-value="" type="checkbox">5 Snowflakes
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input ng-model="filter.snow4" ng-true-value="4" ng-false-value="" type="checkbox">4 Snowflakes
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input ng-model="filter.snow3" ng-true-value="3" ng-false-value="" type="checkbox">3 Snowflakes
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input ng-model="filter.snow2" ng-true-value="2" ng-false-value="" type="checkbox">2 Snowflakes
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input ng-model="filter.snow1" ng-true-value="1" ng-false-value="" type="checkbox">1 Snowflake
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 right-form">
                    <div class="form-group col-md-12">
                        <label class="filter-label" for="filterAddress">Address</label>
                        <p ng-show="filterError" class="address-error">{{filterError}}</p>
                        <input vs-google-autocomplete
                               vs-autocomplete-validator

                               ng-model="filter.name"
                               vs-street-number="filter.streetNumber"
                               vs-street="filter.streetName"
                               vs-city="filter.city"
                               vs-state="filter.state"
                               vs-post-code="filter.zip"
                               vs-latitude="filter.location.latitude"
                               vs-longitude="filter.location.longitude"

                               type="text"
                               name="filterAddress"
                               id="filterAddress"
                               class="form-control"
                               placeholder=" ">
                    </div>
                    <!--<div>{{filter.name}}</div>-->
                    <div class="form-group col-md-12">
                        <label class="filter-label" for="filter-distance">Distance (miles)</label>
                        <input class="form-control" type="number" id="filter-distance" ng-model="filter.distance">
                    </div>

                    <div class="form-group col-md-9">
                        <label class="filter-label">Sort By: </label>
                        <div class="btn-group">
                            <label>
                                <input type="radio" ng-model="sortBy" ng-value="1"> Distance (Near to Far)
                            </label>
                            <label>
                                <input type="radio" ng-model="sortBy" ng-value="2"> Ratings (High to Low)
                            </label>
                            <label>
                                <input type="radio" ng-model="sortBy" ng-value="3"> Ratings (Low to High)
                            </label>
                        </div>
                    </div>

                </div>
                <div class="filter-buttons col-md-8 col-md-offset-2">
                    <button class="red-bg xbtn" ng-click="getResults()">Update Results</button>
                    <button class="red-bg xbtn" ng-click="cancelFilter()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div class="collapse" uib-collapse="newHouseCollapse" id="newHouseNav">
        <form name="newHouseForm">
            <div class="filter col-md-12">
                <div class="col-md-offset-3 col-md-3 add-picture left-form">
                    <div class="new-house-upload">
                        <p ng-show="error.file">{{error.file}}</p>
                        <file-field class="blue-bg xbtn" ng-show="!file" ng-model="file" preview="previewImage">Select File</file-field>
                        <p ng-show="file">Preview (click picture to cancel): </p>
                        <img ng-show="file" ng-src="{{previewImage}}" ng-click="file=null; previewImage=' ';">
                    </div>
                </div>
                <div class="col-md-3 new-address-form right-form">
                    <div class="form-group col-md-12">
                        <label for="newHouseAddress">Address</label>
                        <p ng-show="houseError" class="address-error">{{houseError}}</p>
                        <input vs-google-autocomplete
                               vs-autocomplete-validator

                               ng-model="newHouse.name"
                               vs-street-number="newHouse.address.streetNumber"
                               vs-street="newHouse.address.streetName"
                               vs-city="newHouse.address.city"
                               vs-state="newHouse.address.state"
                               vs-post-code="newHouse.address.zip"
                               vs-latitude="newHouse.latitude"
                               vs-longitude="newHouse.longitude"

                               type="text"
                               name="newHouseAddress"
                               id="newHouseAddress"
                               class="form-control"
                               placeholder=" ">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Rating</label>
                        <div style="margin-top: -5px;" initial-rating snow-rating="newHouseRating" read-only="false" snow-max-rating="5"
                             click="setRating(param)" mouse-hover="setValue(param)" uib-tooltip="{{value}} Snowflakes">
                        </div>
                    </div>
                </div>
                <div class="filter-buttons col-md-8 col-md-offset-2">
                    <button class="red-bg xbtn" ng-click="addHouse()">Add House</button>
                    <button class="red-bg xbtn" ng-click="cancelNewHouse()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</header>

<div class="container">
    <div class="loading" ng-show="loadingHouses"><i class="fa fa-tree fa-spin"></i> Turning on the lights...</div>
    <div class="box" ng-repeat="house in houses track by $index"><!-- repeat for each house in db-->
        <div class="box-header">
            <div style="margin-top: -5px;" house-rating rating="house.avgRating" read-only="false" max-rating="5" click="addRating(house._id,param)"
                 uib-tooltip="{{ratingMsg[house._id]}}">
            </div>
        </div>
        <div class="box-body">
            <div id="house-pix-{{house._id}}" uib-carousel active="0" no-wrap="false">
                <div uib-slide ng-repeat="pic in house.pictures track by $index" index="$index">
                    <img ng-src="{{pic}}" style="margin:auto;">
                    <div class="carousel-caption"></div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="show-comments">
                <button ng-show="house.comments.length || isLoggedIn" class="no-btn" ng-click="toggleComment(house)"><i class="fa fa-comment" aria-hidden="true"></i></button>
            </div>
            <div class="address-container" ng-click="showMap(house)">
                <button class="no-btn"><i class="fa fa-location-arrow" aria-hidden="true"></i></button>
                <div class="address">
                    <div class="street">
                        {{house.address.streetNumber}} {{house.address.streetName}}
                    </div>
                    <div class="city-state-zip">
                        {{house.address.city}}, {{house.address.state}} {{house.address.zip}}
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse" uib-collapse="commentCollapse[house._id]" id="commentBox">
            <div class="comment-box">
                <div class="comments">
                    <div class="comment" ng-repeat="comment in house.comments">
                        <div class="comment-text">{{comment.text}}</div>
                        <div class="comment-footer">
                            <div class="comment-user">{{comment.user}}</div>
                            <div class="comment-timestamp">{{comment.time | date: "medium"}}</div>
                        </div>
                    </div>
                </div>
                <div class="new-comment" ng-show="isLoggedIn && currentUser">
                    <textarea ng-keypress="enterPostComment($event,house)" name="comment-body" placeholder="Write a comment" id="comment-body-{{house._id}}" class="comment-body" ng-model="house.comment.text"
                              cols="30" rows="5"></textarea>
                    <div class="save-comment">
                        <p class="instructions">Press the "Post Comment" button or press Shift+Enter to post your comment</p>
                        <button class="red-bg xbtn" ng-click="postComment(house)">Post Comment</button>
                        <button class="red-bg xbtn" ng-click="cancelComment(house)">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse" uib-collapse="mapCollapse[house._id]">
            <div class="col-md-12 popover-background">
                <div ng-show="directions[house._id]" class="right-panel" id="map-right-panel-{{house._id}}"></div>
                <div class="right-panel-button" style="text-align: center;" ng-class="{ 'no-panel': directions[house._id] }">
                    <button ng-show="!directions[house._id]" ng-click="getDirections(house)" class="xbtn blue-bg">Get Directions</button>
                </div>
                <div class="map" ng-class="{ 'map-wide': !directions[house._id] }" id="map-{{house._id}}"></div>
            </div>
        </div>
    </div>
</div>