<header headroom>
    <nav class="navbar navbar-fixed-top">
        <div>{{user.username}}</div>
        <button ng-show="isLoggedIn" id="newHouseBtn" class="red-bg xbtn" ng-click="toggleCollapse(true)">New House</button>
        <!--<button class="red-bg xbtn" ng-click="register()">Register</button>-->
        <!--<button class="red-bg xbtn">Set My Location</button>-->
        <button ng-show="!isLoggedIn" uib-popover-template="registrationPopover.templateUrl" popover-title="Register an Account"
                popover-placement="bottom-right" popover-is-open="registerIsOpen"
                type="button" class="red-bg xbtn">Register</button>

        <script type="text/ng-template" id="registration.html">
            <div class="col-md-12 popover-background">
                <p>Make an account to add houses and comment on your favorite houses</p>
                <div ng-show="error.register" class="alert alert-danger">{{error.register}}</div>
                <hr>
                <div class="registration-form">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" ng-model="registerForm.username" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" ng-model="registerForm.password" required>
                    </div>
                    <div class="popover-buttons">
                        <button ng-click="register()" class="blue-bg xbtn" ng-disabled="!registerForm.username || !registerForm.password">Register</button>
                        <button ng-click="cancelRegistration()" class="blue-bg xbtn" >Cancel</button>
                    </div>
                </div>
            </div>
        </script>
        <button ng-show="!isLoggedIn" uib-popover-template="loginPopover.templateUrl" popover-title="Login to your account"
                popover-placement="bottom-right" popover-is-open="loginIsOpen"
                type="button" class="red-bg xbtn">Login</button>

        <script type="text/ng-template" id="login.html">
            <div class="col-md-12 popover-background">
                <div ng-show="error.login" class="alert alert-danger">{{error.login}}</div>
                <div class="registration-form">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
                    </div>
                    <div class="popover-buttons">
                        <button ng-click="login()" class="blue-bg xbtn" ng-disabled="!loginForm.username || !loginForm.password">Login</button>
                        <button ng-click="cancelLogin()" class="blue-bg xbtn" >Cancel</button>
                    </div>
                </div>
            </div>
        </script>

        <div class="currentUser" ng-show="isLoggedIn && currentUser">{{currentUser}}</div>
        <!--<button class="red-bg xbtn"></button>-->
    </nav>
</header>

<div class="container">
    <div class="collapse" uib-collapse="newHouseCollapse" id="newHouse">
        <div class="box">
            <div class="box-header">

            </div>
            <div class="box-body-new">
                <div class="col-md-6 add-picture">
                    <div class="new-house-upload">
                        <p ng-show="error.file">{{error.file}}</p>
                        <file-field class="blue-bg xbtn" ng-show="!file" ng-model="file" preview="previewImage">Select File</file-field>
                        <p ng-show="file">Preview (click picture to cancel): </p>
                        <img ng-show="file" ng-src="{{previewImage}}" ng-click="file=null; previewImage=' ';">
                    </div>
                </div>
                <div class="col-md-6 new-address-form">
                    <div class="form-group col-md-12">
                        <label for="new-street-input">Street</label>
                        <input class="form-control" id="new-street-input"  type="text" ng-model="newHouse.address.street">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="city-input">City</label>
                        <input class="form-control" id="city-input"  type="text" ng-model="newHouse.address.city">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="state-input">State</label>
                        <input class="form-control" id="state-input"  type="text" ng-model="newHouse.address.state">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="zip-input">Zip Code</label>
                        <input class="form-control" id="zip-input"  type="text" ng-model="newHouse.address.zip">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Rating</label>
                        <div style="margin-top: -5px;" initial-rating snow-rating="newHouseRating" read-only="false" snow-max-rating="5"
                             click="setRating(param)" mouse-hover="setValue(param)" uib-tooltip="{{value}} Snowflakes">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer new-house">
                <button class="red-bg xbtn" ng-click="addHouse()">Add House</button>
                <button class="red-bg xbtn">Cancel</button>
            </div>
        </div>
    </div>
    <div class="box" ng-repeat="house in houses track by $index"><!-- repeat for each house in db-->
        <div class="box-header">
            <div style="margin-top: -5px;" house-rating rating="house.avgRating" read-only="false" max-rating="5" click="addRating(house._id,param)"
                 uib-tooltip="{{ratingMsg[$index]}}">
            </div>
        </div>
        <div class="box-body">
            <div uib-carousel active="0" no-wrap="false">
                <div uib-slide ng-repeat="pic in house.pictures track by $index" index="$index">
                    <img ng-src="{{pic}}" style="margin:auto;">
                    <div class="carousel-caption"></div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="show-comments">
                <button class="no-btn" ng-click="toggleComment()"><i class="fa fa-comment" aria-hidden="true"></i></button>
            </div>
            <div class="address-container">
                <button class="no-btn"><i class="fa fa-location-arrow" aria-hidden="true"></i></button>
                <div class="address">
                    <div class="street">
                        {{house.address.street}}
                    </div>
                    <div class="city-state-zip">
                        {{house.address.city}}, {{house.address.state}} {{house.address.zip}}
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse" uib-collapse="commentCollapse" id="commentBox">
            <div class="comment-box">
                <textarea name="comment-body" placeholder="Write a comment" id="comment-body" class="comment-body" ng-model="house.comment.text"
                          cols="30" rows="5"></textarea>
                <div class="save-comment">
                    <button class="red-bg xbtn" ng-click="postComment(house)">Post Comment</button>
                    <button class="red-bg xbtn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="map"></div>
</div>